parameters:
	level: 7
	paths:
		- src
		- tests
	ignoreErrors:
		- '#Static call to instance method Rebelo\\Test\\Enum\\MyEnum::ENUM_1\(\)#'
		- '#Static call to instance method Rebelo\\Test\\Enum\\MyEnum::ENUM_2\(\)#'
		- '#Method Rebelo\\Test\\Enum\\MyEnum::ENUM_1\(\) invoked with 1 parameter, 0 required.#'
